/operators and expression/Arithmetic/dist/
/operators and expression/incdec/nbproject/private/
/operators and expression/incdec/build/
/operators and expression/Bitwise_operators/nbproject/private/
/operators and expression/Bitwise_operators/build/
